/* Just cause... */

body {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  margin: 0;
  background-color: #FFF;
  color: #222;
  margin-top: 68px;
}

/* Custom elements used in class */

h1 {
  font-weight: 300;
  font-size: 2.35em;
}

h2 {
  font-weight: 400;
  font-size: 1.85em;
}

h3 {
  font-weight: 400;
  font-size: 1.55em;
  clear: both;
  margin: auto;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
  color: #DD4814;
}

p {

}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #DD4814;
  background-color: #FFF;
  z-index: 10;
}

nav ul {
  margin-top: 2px;
}

ul {

}

li {
  display: inline-block;
  color: #DD4814;
  font-size: 22px;
  margin-right: 14px;
  padding: 10px;
}

li a {
  color: #DD4814;
  text-decoration: none;
}

li a:visited {
  color: #77216F;
}

/* Custom classes used in class */

.left-float {
  width: 405px;
  margin: auto;
  padding: 10px;
  clear: both;
  border: 1px solid #222;
  border-radius: 6px;
}

.large {
  font-size: 1.5em;
}

.col-left {
  float: left;
  width: 450px;
  height: 450px;
  margin: 5px;
  border: 1px solid #AAA;
  border-radius: 6px;
  padding: 5px;
  background-color: #CCC;
  text-align: center;
  overflow: scroll;
}

.col-middle {
  float: left;
  width: 450px;
  height: 450px;
  margin: 5px;
  border: 1px solid #AAA;
  border-radius: 6px;
  padding: 5px;
  background-color: #CCC;
  text-align: center;
  overflow: scroll;
}

.col-right {
  float: left;
  width: 450px;
  height: 450px;
  margin: 5px;
  border: 1px solid #AAA;
  border-radius: 6px;
  padding: 5px;
  background-color: #CCC;
  text-align: center;
  overflow: scroll;
}

.picture-paragraph {
  font-size: 18px;
  padding: 0 15px;
}

.background-image {
  display: block;
  position: relative;
}
.background-image::after {
  content: "";
  background: url('../images/background.jpg');
  background-size: 1500px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
